<div class="container">
    <h1 class="mb-4">Welcome to the AgriBID</h1>
    <p class="mb-5">Empowering Farmers to Sell Crops and Connect with Bidders Seamlessly & Join our platform to manage your crops, access competitive bids, and secure the best deals effortlessly.</p>
    <div class="nav-container">
        <a class="nav-list" routerLink="/placerequest">Place a Request</a>
        <a class="nav-list" routerLink="/soldhistory">View Sold History</a>
        <a class="nav-list" routerLink="/marketplace">View Marketplace</a>
        <a class="nav-list" routerLink="/claim">Claim</a>
        <a class="nav-list" routerLink="/insurance">Insurance</a>
    </div>
    <button class="btn btn-danger btn-lg m-2"><a routerLink="/farmerlogin">Logout</a></button>
</div>



