body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}
 
.mycontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
 
.header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  justify-content: center;
 
}
 
.header img {
  width: 80px;
  height: 80px;
  margin-left:20px;
 
}
 
.header h1 {
  margin: 0;
  font-size: 32px;
  text-align: center;
  display: flex;
  text-shadow: 1px 1px 2px rgb(248, 10, 232), 0 0 25px blue, 0 0 5px rgb(249, 6, 6);
 
  /* margin-bottom: 1.5rem;
    font-family: Cinzel, serif;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center; */
}
 
.mynav .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
 
.mynav .navbar-nav .nav-link {
  color: white;
  background-color: #333;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
}
 
.mynav .navbar-nav .nav-link:hover {
  background-color: #bc2525;
}
 
.mynav .navbar-nav .dropdown-menu {
  background-color: #333;
}
 
.mynav .navbar-nav .dropdown-menu .dropdown-item {
  color: white;
}
 
.mynav .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #c51d1d;
}
 
.main-content {
  margin: 20px 0;
  padding: 20px;
  background-color:white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
 
.bg-image {
  background-image: url("https://media.istockphoto.com/id/476952678/photo/summer-background-wooden-floor-texture-and-defocused-summer-landscape.webp?b=1&s=612x612&w=0&k=20&c=Tefk8j5gFWNeXoG828cJxMQe4WO6bAAle5X6zJzoE7s=");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border-radius: 10px;
}
 
.myfooter {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  margin-top: 20px;
  position: relative;
}
 
.dropdown:hover > .dropdown-menu {
  display: block;
}
 
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
 
 